.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 20vh;
   font-family: 'Maven Pro', sans-serif;
 }
 
 .navbar-left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 50%;
   height: 100%;
 }
 
 .navbar-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 50%;
   height: 100%;
 }
 
 .navbar-link {
   color: #333;
   margin-right: 2rem;
   text-decoration: none;
   font-size: 1.6rem;
 }
 
 .navbar-logo-link {
   margin-right: auto;
 }
 
 .navbar-logo {
   height: 8vh;
 }
 